<!doctype HTML>
<HTML>
   <HEAD>
      <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
      <meta http-equiv="Pragma" content="no-cache" />
      <meta http-equiv="Expires" content="0" />
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="/js/jquery.min.js" type="text/javascript"></script>
      <script src="/js/boot.js" type="text/javascript"></script>
      <noscript><%= (@ meta) %></noscript>
      <script src="/js/chart.js" type="text/javascript"></script>
      <script src="/js/hammerjs.js" type="text/javascript"></script>
      <script src="/js/chartjs-plugin-zoom.min.js" type="text/javascript"></script>
      <script src="/js/init-chart.js" type="text/javascript"></script>

   </HEAD>
<BODY>
  <noscript><%= (@ body) %></noscript>
</BODY>
<noscript>Your browser must support JavaScript and be HTML 5 compilant to see this site.</noscript>
</HTML>
